.AboutConatiner{
    display: flex;
    flex-direction: column;
    background-color: #355E3B;
    height: 220px;
}
.SubAboutContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.SecionTitle{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.AboutImg{
    width: 300px;
    height: 140px;
    margin-left: 20px;
}
.AboutText{
color: white;
display: flex;
justify-content: start;
margin-left: 50px;
margin-bottom: 80px;
font-family: Arial, Helvetica, sans-serif;

}