.AllProductsContainer {
    display: flex;
    gap: 20px; /* Adjust the gap between items */
    justify-content: center;

  }
  .subProductsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
  }