.AllPostsContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    justify-content: center;
}
.EachPost{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: center;
    align-self: center;   
    box-shadow: 0 4px 8px ; /* Box shadow */
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    }
.SubEachPost{
    display: flex;
    flex-direction: column;
}
.PostInfo{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}
.PostInfoImg{
    display: flex;
    flex-direction: row;
}
.PostInfoImg div{
    display: flex;
    flex-direction: column;
}
.EachPostTitle{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 12px;
}
.PostOwner{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 5px;
}
.PostDuration{
    font-size: x-small;
    margin-top: 5px;
    margin-left: 5px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.Comments{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.CommentsContainer{
    display: flex;
    flex-direction: row;
}
.CommentImg{
    width: 20px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
}